
<div class="voyager-position">
  <%= image_tag "Voyager.jpeg", class: "voyager" %>
</div>
<div class="text">太陽系外。<br>
右上に見えるものはボイジャー１号という名前の探査機です。1970年ごろに打ち上げられ、地球から最も遠いところに到達した人工物で<br>
現在も秒速１７kmという速さで移動中でバウショックと言う太陽圏の外にいます。</div>
<div>
  <%= image_tag "Exoplanet.jpg", class: "exoplanet" %>
</div>