<div class="voyager-position">
  <%= image_tag "Voyager.jpeg", class: "voyager" %>
</div>
<div class="text">太陽系外<br>太陽系外にも多くの天体が太陽の周りを公転しています。かつて太陽系の仲間だった冥王星は知っている人も多いのではないでしょうか。</div>
<div>
  <%= image_tag "Exoplanet.jpg", class: "exoplanet" %>
</div>