<div class="container">
  <div>
    <%= image_tag "solar-system.jpg", class: "image-solar_system" %>
    <%= link_to "Planets", solar_system_planet_path, class: "btn" %>
  </div>
</div>
<p>
太陽系。太陽とその重力によって周りを回っている惑星などの天体からなっています。<br>
恒星　１<br>
惑星　８<br>
準惑星　５<br>
衛星 657<br>
小惑星　1,116,816<br>
彗星　4,621<br>
</p>
第９惑星:プラネットナイン、第１０惑星:ニビルの存在も示唆されています。