  <div id="container">
    <div class="Galaxies" id="theTarget">
        <div class="image11"></div>
        <div class="image12"></div>
        <div class="image13"></div>
        <div class="image14"></div>
        <div class="image15"></div>
        <div class="image16"></div>
        <div class="image17"></div>
        <div class="image18"></div>
    </div>
  </div>
<p>銀河系 - Galaxy</p>
<p>銀河群 - Galaxy group</p>
<p>銀河団 - Cluster of galaxies</p>
<p>超銀河団 - Supercluster</p>
<p>銀河フィラメント - Galaxy filaments</p>
<p>宇宙の果て - end of unverse</p>
<p>多元宇宙論 - Multiverse</p>
<p>仮想現実 - Virtual</p>
天才スティーブンホーキング博士はわれわれがいるこの宇宙以外にも宇宙が存在する、それもおそらくは無限の数の宇宙が存在する可能性があるとすると述べています。
それがいわゆるパラレルワールド。この宇宙とそっくりの宇宙。生命が一度も誕生していない宇宙。物理法則が違う宇宙。
また、その一つ一つが仮想現実（シミュレーション）であり、複数のシミュレーションの中に存在している可能性が高いのです。世界５分前説
宇宙は計り知れないほど大きく、謎めいており人類がその謎全てを解決することは不可能なのです。