
<div id="container">
    <div class="Galaxies" id="theTarget">
        <div class="image11"></div>
        <div class="image12"></div>
        <div class="image13"></div>
        <div class="image14"></div>
        <div class="image15"></div>
        <div class="image16"></div>
        <div class="image17"></div>
        <div class="image18"></div>
    </div>
  </div>
<h3>銀河系 - Galaxy</h3>
多くの恒星、惑星、星団が集まり構成されている銀河ですが、その数1000万程度の星々で成り立つ矮小銀河から、100兆個の星々を持つ巨大なものまで様々です。
そしてその多くが中心にブラックホールを持っており、質量の９０％以上がダークマターでできています。
我々の銀河：天の川銀河・・・最大100億個の地球型惑星が存在すると予想されていて、すでに人間が住める環境の星たちが多数発見されています。

<h3>銀河群 - Galaxy group</h3>
５０個以下の銀河の集団
我々の銀河群：局所銀河群

<h3>銀河団 - Cluster of galaxies</h3>
銀河群の大きい版。数百個から数千個規模の銀河からなっています。
我々の銀河団：おとめ座銀河団

<h3>超銀河団 - Supercluster</h3>
銀河群や銀河団の集まり。
我々の超銀河団：ラニアケア超銀河団・・・直径５０垓km

<h3>銀河フィラメント - Galaxy filaments</h3>
超銀河団が連なりさらに大きな構造（銀河フィラメント）を形作る。銀河フィラメント間にはほとんど銀河の見られない超空洞（ボイド）があります。
現在この銀河フィラメントの一部まで観測できおり、この銀河フィラメントが無限に広がっていると考えられています。

<h3>宇宙の果て - end of unverse</h3>
これを知るには時間は存在しないと言うことを理解しなければなりません。宇宙スケールで話が長くなるので割愛。
宇宙を知る方法の一つにこういったものがあります。
ブラックホールに吸い込まれている時ブラックホールの向こう側を見ると宇宙の終焉を見ることができ、その反対側を見ると宇宙ができる前やできる瞬間を見ることができると言うものです。
こんなこと当然できるわけありませんねww我々人類が宇宙の全貌を理解することが叶う時代は来るのでしょうか。

<h3>多元宇宙論 - Multiverse</h3>
パラレルワールドと呼ばれるものです。かの天才、スティーブンホーキング博士はこのように述べています。「われわれがいるこの宇宙以外にも宇宙が存在する、それもおそらくは無限の数の宇宙が存在する可能性がある」と。
この宇宙とそっくりの宇宙。生命が一度も誕生していない宇宙。それぞれが違う物理法則を持って存在しています。

<h3>仮想現実 - Virtual</h3>
無限に存在する宇宙。その一つ一つが仮想現実（シミュレーション）であり、複数のシミュレーションの中に存在している可能性が高いのです。
宇宙開発で大活躍中のイーロンマスクさんがこの説を提唱していることは有名です。
この説が本当ならばイエスキリストが水を葡萄酒に変え、５つのパンと２匹の魚を増やして5000人の飢えを満たしたと言うのも本当かもしれませんね。
そのほかにもこの説の発展で世界５分前説などの多くの説が存在しますので、興味のある方は是非そちらの方も調べてみてくださいね。
このように宇宙は計り知れないほど大きく、謎めいており人類がその謎全てを解決することは不可能なのです。