<a href="https://scienceportal.jst.go.jp/newsflash/20210917_n01/" class="p-entries__link">
　<figure class="p-entries__figure"><img src="https://scienceportal.jst.go.jp/wp-content/uploads/20210917_n01.jpg" alt="世界最大の「模擬宇宙」で宇宙の大規模構造を解明へ 千葉大など国際グループ" class="p-entries__image"></figure>
  <p class="p-entries__genre">コラム</p>
  <p class="p-entries__date">2021/09/17</p>
  <div class="p-entries__main">
    <h3 class="p-entries__title">世界最大の「模擬宇宙」で宇宙の大規模構造を解明へ 千葉大など国際グループ</h3>
    <ul class="p-entries__tags">
        <li class="p-entries__tag">宇宙</li>
        <li class="p-entries__tag">情報</li>
    </ul>
  </div>
</a>