<div class="container">
  <div class="header">
    <h1 class="title">Space Exploration</h1>
  </div>
  <div class="body" id="body">
    <%= image_tag "milky-way.jpg", class: "image-top" %>
  </div>
</div>
