<body>
  <div class="container">
    <div class="header">
      <h1 class="title">Space Exploration</h1>
    </div>
    <div class="body" id="body">
      <%= image_tag "milky-way.jpg", class: "image-top" %>
    </div>
    <div class="footer">
      <%= link_to "宇宙探索開始", home_path, class: "btn-sf-like"%>
    </div>
  </div>
</body>